proxy:
  image: agaveapi/apache-api-proxy:latest
  name: proxy
  hostname: docker.example.com
  ports:
    - '8080:80'
  privileged: true
  links:
    - mysql
    - beanstalk
    - mongo
    - logging
    - apidocs
    - postits
    - tenants
    - usage
    - metadata
    - apps
    - systems
    - notifications
    - monitors
    - transforms
    - files
    - jobs
    
    
mysql:
  image: mariadb:latest
  name: mysql
  ports:
    - '3311:3306'
  volumes_from:
    - data
  environment:
    - 'MYSQL_DATABASE=agavecore'
    - 'MYSQL_USER=agaveuser'
    - 'MYSQL_PASSWORD=password'
    - 'MYSQL_ROOT_PASSWORD=mysecretpassword'
data:
  image: mariadb:latest
  command: /bin/date
  volumes:
    - /var/lib/mysql
    
mongo:
  image: mongo:2.6
  command: --smallfiles
  name: nosql.docker.example.com
  ports:
    - '27017:27017'

beanstalk:
  image: agaveapi/beanstalkd:latest
  ports:
    - '11300:11300'

jobs:
  image: jobs-api:2.1.4
  command: bin/catalina.sh run 2>&1
  name: jobs
  ports:
    - "8080"
  restart: no
  links:
    - logging
    - mysql
    - mongo
    - beanstalk
  environment:
    - 'MYSQL_HOST=mysql'
    - 'MYSQL_PORT=3306'
    - 'MYSQL_USERNAME=agaveuser'
    - 'MYSQL_PASSWORD=password'
    - 'MYSQL_DATABASE=agavecore'
    - 'IPLANT_LOG_SERVICE=http://logging'
    - 'IPLANT_MESSAGING_HOST=beanstalk'
    - 'IPLANT_MESSAGING_PORT=11300'
    - 'IPLANT_MAX_STAGING_TASKS=2'
    - 'IPLANT_MAX_ARCHIVE_TASKS=2'
    - 'IPLANT_MAX_SUBMISSION_TASKS=2'
    - 'IPLANT_MAX_MONITORING_TASKS=1'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_HOST=smtp.sendgrid.net'
    - 'MAIL_SMTPS_AUTH=true'
    - 'MAIL_SMTPS_PORT=587'
    - 'MAIL_SMTPS_USER=<USERNAME>'
    - 'MAIL_SMTPS_PWD=<PASSWORD>'
    - 'MAIL_SMTPS_FROM_NAME="Agave Dev Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="dev-no-reply@example.com"'
files:
  image: files-api:2.1.4
  command: bin/catalina.sh run 2>&1
  name: files
  ports:
    - "8080"
  restart: no
  links:
    - logging
    - mysql
    - mongo
    - beanstalk
  environment:
    - 'MYSQL_HOST=mysql'
    - 'MYSQL_PORT=3306'
    - 'MYSQL_USERNAME=agaveuser'
    - 'MYSQL_PASSWORD=password'
    - 'MYSQL_DATABASE=agavecore'
    - 'IPLANT_LOG_SERVICE=http://logging'
    - 'IPLANT_MESSAGING_HOST=beanstalk'
    - 'IPLANT_MESSAGING_PORT=11300'
    - 'IPLANT_SLAVE_MODE=true'
    - 'IPLANT_MAX_STAGING_TASKS=10'
    - 'IPLANT_MAX_TRANSFORM_TASKS=2'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_HOST=smtp.sendgrid.net'
    - 'MAIL_SMTPS_AUTH=true'
    - 'MAIL_SMTPS_PORT=587'
    - 'MAIL_SMTPS_USER=<USERNAME>'
    - 'MAIL_SMTPS_PWD=<PASSWORD>'
    - 'MAIL_SMTPS_FROM_NAME="Agave Dev Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="dev-no-reply@example.com"'

apps:
  image: apps-api:2.1.4
  command: bin/catalina.sh run 2>&1
  name: apps
  ports:
    - "8080"
  restart: no
  links:
    - logging
    - mysql
    - mongo
    - beanstalk
  environment:
    - 'MYSQL_HOST=mysql'
    - 'MYSQL_PORT=3306'
    - 'MYSQL_USERNAME=agaveuser'
    - 'MYSQL_PASSWORD=password'
    - 'MYSQL_DATABASE=agavecore'
    - 'IPLANT_LOG_SERVICE=http://logging'
    - 'IPLANT_MESSAGING_HOST=beanstalk'
    - 'IPLANT_MESSAGING_PORT=11300'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_HOST=smtp.sendgrid.net'
    - 'MAIL_SMTPS_AUTH=true'
    - 'MAIL_SMTPS_PORT=587'
    - 'MAIL_SMTPS_USER=<USERNAME>'
    - 'MAIL_SMTPS_PWD=<PASSWORD>'
    - 'MAIL_SMTPS_FROM_NAME="Agave Dev Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="dev-no-reply@example.com"'

systems:
  image: systems-api:2.1.4
  command: bin/catalina.sh run 2>&1
  name: systems
  ports:
    - "8080"
  restart: no
  links:
    - logging
    - mysql
    - mongo
    - beanstalk
  environment:
    - 'MYSQL_HOST=mysql'
    - 'MYSQL_PORT=3306'
    - 'MYSQL_USERNAME=agaveuser'
    - 'MYSQL_PASSWORD=password'
    - 'MYSQL_DATABASE=agavecore'
    - 'IPLANT_LOG_SERVICE=http://logging'
    - 'IPLANT_MESSAGING_HOST=beanstalk'
    - 'IPLANT_MESSAGING_PORT=11300'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_HOST=smtp.sendgrid.net'
    - 'MAIL_SMTPS_AUTH=true'
    - 'MAIL_SMTPS_PORT=587'
    - 'MAIL_SMTPS_USER=<USERNAME>'
    - 'MAIL_SMTPS_PWD=<PASSWORD>'
    - 'MAIL_SMTPS_FROM_NAME="Agave Dev Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="dev-no-reply@example.com"'

monitors:
  image: monitors-api:2.1.4
  command: bin/catalina.sh run 2>&1
  name: monitors
  ports:
    - "8080"
  restart: no
  links:
    - logging
    - mysql
    - mongo
    - beanstalk
  environment:
    - 'MYSQL_HOST=mysql'
    - 'MYSQL_PORT=3306'
    - 'MYSQL_USERNAME=agaveuser'
    - 'MYSQL_PASSWORD=password'
    - 'MYSQL_DATABASE=agavecore'
    - 'IPLANT_LOG_SERVICE=http://logging'
    - 'IPLANT_MESSAGING_HOST=beanstalk'
    - 'IPLANT_MESSAGING_PORT=11300'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_HOST=smtp.sendgrid.net'
    - 'MAIL_SMTPS_AUTH=true'
    - 'MAIL_SMTPS_PORT=587'
    - 'MAIL_SMTPS_USER=<USERNAME>'
    - 'MAIL_SMTPS_PWD=<PASSWORD>'
    - 'MAIL_SMTPS_FROM_NAME="Agave Dev Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="dev-no-reply@example.com"'

profiles:
  image: profiles-api:2.1.4
  command: bin/catalina.sh run 2>&1
  name: metadata
  ports:
    - "8080"
  restart: no
  links:
    - logging
    - mysql
    - mongo
    - beanstalk
  environment:
    - 'MYSQL_HOST=mysql'
    - 'MYSQL_PORT=3306'
    - 'MYSQL_USERNAME=agaveuser'
    - 'MYSQL_PASSWORD=password'
    - 'MYSQL_DATABASE=agavecore'
    - 'IPLANT_LOG_SERVICE=http://logging'
    - 'IPLANT_MESSAGING_HOST=beanstalk'
    - 'IPLANT_MESSAGING_PORT=11300'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_HOST=smtp.sendgrid.net'
    - 'MAIL_SMTPS_AUTH=true'
    - 'MAIL_SMTPS_PORT=587'
    - 'MAIL_SMTPS_USER=<USERNAME>'
    - 'MAIL_SMTPS_PWD=<PASSWORD>'
    - 'MAIL_SMTPS_FROM_NAME="Agave Dev Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="dev-no-reply@example.com"'
    - 'iplant.internal.account.service.key=n5xgd0m923670und80lu4z'
    - 'iplant.internal.account.service.secret=8fcd81842b7e66547d93273e9f8e234b21d7a674'
    - 'iplant.internal.account.service=https://user.iplantcollaborative.org/api/v1/users/'

metadata:
  image: metadata-api:2.1.4
  command: bin/catalina.sh run 2>&1
  name: metadata
  ports:
    - "8080"
  restart: no
  links:
    - logging
    - mysql
    - mongo
    - beanstalk
  environment:
    - 'MYSQL_HOST=mysql'
    - 'MYSQL_PORT=3306'
    - 'MYSQL_USERNAME=agaveuser'
    - 'MYSQL_PASSWORD=password'
    - 'MYSQL_DATABASE=agavecore'
    - 'IPLANT_LOG_SERVICE=http://logging'
    - 'IPLANT_MESSAGING_HOST=beanstalk'
    - 'IPLANT_MESSAGING_PORT=11300'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_HOST=smtp.sendgrid.net'
    - 'MAIL_SMTPS_AUTH=true'
    - 'MAIL_SMTPS_PORT=587'
    - 'MAIL_SMTPS_USER=<USERNAME>'
    - 'MAIL_SMTPS_PWD=<PASSWORD>'
    - 'MAIL_SMTPS_FROM_NAME="Agave Dev Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="dev-no-reply@example.com"'

notifications:
  image: notifications-api:2.1.4
  hostname: notifications
  ports:
    - "80"
  restart: no
  links:
    - logging
    - mysql
    - mongo
    - beanstalk
  environment:
    - 'MYSQL_HOST=mysql'
    - 'MYSQL_PORT=3306'
    - 'MYSQL_USERNAME=agaveuser'
    - 'MYSQL_PASSWORD=password'
    - 'MYSQL_DATABASE=agavecore'
    - 'IPLANT_LOG_SERVICE=http://logging'
    - 'IPLANT_MESSAGING_HOST=beanstalk'
    - 'IPLANT_MESSAGING_PORT=11300'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_HOST=smtp.sendgrid.net'
    - 'MAIL_SMTPS_AUTH=true'
    - 'MAIL_SMTPS_PORT=587'
    - 'MAIL_SMTPS_USER=<USERNAME>'
    - 'MAIL_SMTPS_PWD=<PASSWORD>'
    - 'MAIL_SMTPS_FROM_NAME="Agave Dev Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="dev-no-reply@example.com"'
    - 'IPLANT_MAX_NOTIFICATION_TASKS=0'

transforms:
  image: transforms-api:2.1.4
  command: bin/catalina.sh run 2>&1
  name: transforms
  ports:
    - "8080"
  restart: no
  links:
    - logging
    - mysql
    - mongo
    - beanstalk
  environment:
    - 'MYSQL_HOST=mysql'
    - 'MYSQL_PORT=3306'
    - 'MYSQL_USERNAME=agaveuser'
    - 'MYSQL_PASSWORD=password'
    - 'MYSQL_DATABASE=agavecore'
    - 'IPLANT_LOG_SERVICE=http://logging'
    - 'IPLANT_MESSAGING_HOST=beanstalk'
    - 'IPLANT_MESSAGING_PORT=11300'
    - 'IPLANT_MAX_STAGING_TASKS=2'
    - 'IPLANT_MAX_ARCHIVE_TASKS=2'
    - 'IPLANT_MAX_SUBMISSION_TASKS=2'
    - 'IPLANT_MAX_MONITORING_TASKS=1'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_HOST=smtp.sendgrid.net'
    - 'MAIL_SMTPS_AUTH=true'
    - 'MAIL_SMTPS_PORT=587'
    - 'MAIL_SMTPS_USER=<USERNAME>'
    - 'MAIL_SMTPS_PWD=<PASSWORD>'
    - 'MAIL_SMTPS_FROM_NAME="Agave Dev Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="dev-no-reply@example.com"'
postits:
  image: postits-api:2.1.4
  name: postits
  ports:
    - "80"
  restart: no
  links:
    - logging
    - mysql
    - mongo
    - beanstalk
  environment:
    - 'IPLANT_LOG_SERVICE=http://logging'
    - 'MYSQL_HOST=mysql:3306'
    - 'MYSQL_PORT=3306'
    - 'MYSQL_USERNAME=agaveuser'
    - 'MYSQL_PASSWORD=password'
    - 'MYSQL_DATABASE=agavecore'
usage:
  image: usage-api:2.1.4
  name: usage
  ports:
    - "80"
  restart: no
  links:
    - logging
    - mysql
    - mongo
    - beanstalk
  environment:
    - 'IPLANT_LOG_SERVICE=http://logging'
    - 'MYSQL_HOST=mysql:3306'
    - 'MYSQL_PORT=3306'
    - 'MYSQL_USERNAME=agaveuser'
    - 'MYSQL_PASSWORD=password'
    - 'MYSQL_DATABASE=agavecore'

tenants:
  image: tenants-api:2.1.4
  name: tenants
  ports:
    - "80"
  restart: no
  links:
    - logging
    - mysql
    - mongo
    - beanstalk
  environment:
    - 'IPLANT_LOG_SERVICE=http://logging'
    - 'MYSQL_HOST=mysql:3306'
    - 'MYSQL_PORT=3306'
    - 'MYSQL_USERNAME=agaveuser'
    - 'MYSQL_PASSWORD=password'
    - 'MYSQL_DATABASE=agavecore'

logging:
  image: logging-api:2.1.4
  name: logging
  ports:
    - "80"
  links:
    - mysql
  environment:
    - 'MYSQL_HOST=mysql'
    - 'MYSQL_PORT=3306'
    - 'MYSQL_USERNAME=agaveuser'
    - 'MYSQL_PASSWORD=password'
    - 'MYSQL_DATABASE=agavecore'

apidocs:
  image: apidocs-api:2.1.4
  name: apidocs
  ports:
    - "80"
